.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 100000;
}

.TouchUp-toolbar {
  animation: reveal 0.1s linear;
}

.TouchUp-hovered {
  border: 1px solid rgb(23, 236, 23);
  box-sizing: border-box !important;
}

@keyframes reveal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#TouchUp-focus-left {
  width: 1px;
  background-color: red;
}

#TouchUp-focus-right {
  width: 1px;
  background-color: red;
}

#TouchUp-focus-top {
  height: 1px;
  background-color: red;
}

#TouchUp-focus-bottom {
  height: 1px;
  background-color: red;
}
